body {
    padding: 1rem 5rem;
}

p, h1, h2, ul, a {
    margin: 5px;
}

ul, li {
    padding: 0;
    list-style-type: none;
}

h2 {
    width: 4rem;
}

.horizontal-container {
    display: flex;
    gap: 10rem;
    width: 60rem;
    margin: 3rem;
}

.spaced-content{
    justify-content: space-between;
}

#medium-width {
    margin-top: 20px;
    width: 25rem;
}

.bold {
    font-weight: bold;
}