body {
    padding: 1rem 10rem;
    background-color: #06142e;
    color: #F5D7DB;
}

p, h1, h2, ul, a {
    margin: 5px;
}

ul, li {
    padding: 0;
    list-style-type: none;
}

h2 {
    width: 4rem;
}

a {
    text-decoration: none;
    color: #8bb3ff;
}

a:hover {
    text-decoration: underline;
}

.horizontal-container {
    display: flex;
    gap: 10rem;
    width: 60rem;
    margin: 3rem;
}

.spaced-content{
    justify-content: space-between;
}

#medium-width {
    margin-top: 20px;
    width: 25rem;
}

.bold {
    font-weight: bolder;
    margin-bottom: 10px;
}

.mid-gap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    text-align: left;
}